<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meta.example3.overlay">
    <application android:hasCode="false" />
    <overlay android:targetPackage="android"
                   android:priority="5001"
                   android:resourcesMap="@xml/overlays"
                   android:isStatic="true"/>
</manifest>
